{% extends "base.html" %}
{% load static%}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/open-weather-icons.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('{{ MEDIA_URL }}pexels-matheus-bertelli-7510487.png');">
        <div class="px-4 py-5 my-5 text-center mx-auto travel-info-box">
            <h1 class="display-5 fw-bold">Let us know when you would like to visit!</h1>
            <div class="col mx-auto">
                <p class="lead mb-4">Set your preferred days for staying with us to see our availability in that same period.</p>
                {% if travel_info.check_in != None and travel_info.check_out != None %}
                <div id="date" class="date d-inline-flex flex-row align-items-center availability-box rounded">
                    <div class="mx-2 text-center">
                        <p><strong>{{travel_info.check_in}}</strong> to <strong>{{travel_info.check_out}}</strong></p>
                        <p><strong>{{travel_info.days}} nights</strong></p>    
                    </div>
                    <div class="mx-2"><i class="fas fa-edit"></i></div>
                </div>
                {% else %}
                <button id="date" class="btn sc btn-primary btn-rounded date" type="submit">Travel Information*</button>
                {% endif %}
            </div>
        </div>      
    </div>
</div>
<div class="row justify-content-center py-2 p-md-4">
    <div class="col">
        <div class="card mb-3">
            <div class="row g-0">              
                <div class="col-12 col-md-4">
                    <div class="weather-container">
                        <img src="{{ MEDIA_URL }}night.png" alt="night image background">
                        <div class="weather-centered-top text-white">
                            <p class="m-0"><strong>Todays Weather!</strong></p>
                            <p class="m-0">{{ weather.weather.0.main }}</p>
                            <p class=" text-muted m-0">{{ weather.weather.0.description }}</p>
                            <p><i class="owi owi-{{weather.weather.0.icon}}"></i></p>
                            <p>{{weather.name}}</p>
                        </div> 
                        <div class="weather-bottom-left text-white">
                            <p class="">{{weather.main.temp|floatformat:0}} Cº</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="card-body text-center">
                        <h5 class="card-title">Book your stay today!</h5>
                        <p class="card-text">Please set your preferred days for staying with us to see our availability in that same period.</p>
                        <p class="card-text"><a href="{% url 'products' %}" class="btn sc btn-secondary btn-rounded">All our products</a>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <img src="{{ MEDIA_URL }}pexels-matheus-bertelli-7510675.jpg" class="img-fluid rounded-start" alt="night picture of camping">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_body_js %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            const minDate = new Date()
            const maxDate = `${(minDate.getFullYear()+1)}-${(minDate.getMonth() + 1 )}-${minDate.getDate()}`
            $('.date').daterangepicker({
                autoUpdateInput: false,
                opens: 'center',
                buttonClasses: 'cs btn',
                applyButtonClasses: 'btn-light',
                cancelButtonClasses: 'btn-light',
                minDate: minDate,
                maxDate: maxDate, 
                maxYear: minDate.getFullYear()+1,
                locale: {
                    format: 'YYYY-MM-DD'
                  },
            });
    
            function setDates(ev, {startDate, endDate}){ 
                const basket_index = ev.currentTarget.id.split("-")[1]
                const csrfToken = "{{ csrf_token }}";
                const data = {'csrfmiddlewaretoken': csrfToken, 'basket_index': basket_index,'check_in': startDate.format('YYYY-MM-DD'), 'check_out': endDate.format('YYYY-MM-DD')};
                const url = `{% url 'set_travel_info' %}`;
                $.post(url, data)
                .done(function() {
                    location.reload();
                });
            }
    
            $('.date').on('apply.daterangepicker', setDates);
          });
    </script>
{% endblock %}