{% extends "base.html" %}
{% load static%}

{% block page_header %}
<div class="row">
    <div class="col">
        <h1>Header</h1>
        <h2 class="header-caption">Here's a header caption</h2>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <p class="text-primary">fisk</p>
        <img src="{% static 'logo.png' %}" alt="squre circles Holiday park logo" />
        <p>Paragraph with <a href="#">link</a> and embedded icon <i class="fas fa-space-shuttle"></i>.</p>
    </div>
</div>
{% endblock %}