{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col col-md-8 m-md-4 box">
        <div class="row py-2 bg-primary text-white text-center">
            <div class="col">
                <h2>My Profile</h2>
            </div> 
        </div> 
        <div class="row mb-2 bg-secondary justify-content-md-center text-white">
            <div class="col text-center"><h3 class="m-0 py-2">Contact information</h3></div> 
        </div>
        <div class="row justify-content-md-center">
            <div class="col">
                <p class="text-muted text-center">signed in as <strong>{{ user }}</strong> ({{ user.email }})</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    {{ form|crispy }}
                    <button class="btn btn-primary sc btn-rounded my-3">Update</button>
                </form>
            </div>
        </div>

        <div class="row mb-2 bg-secondary justify-content-md-center text-white">
            <div class="col text-center"><h3 class="m-0 py-2">My Reservations</h3></div> 
        </div>
        <div class="row justify-content-md-center">
            <div class="col text-center">
                <ul>
                    {% for order in orders %}
                        <li><a href="{% url 'order_history' order.order_number %}">{{ order.date|date:"F d, Y H:i"}}</a> {{ order.grand_total }} EUR <span class="text-muted">({{order}})</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row mb-2 bg-secondary justify-content-md-center text-white">
            <div class="col text-center"><h3 class="m-0 py-2">My Reviews</h3></div> 
        </div>
        <div class="row justify-content-md-center">
            <div class="col text-center">
                {% if reviews %}
                <ul>
                {% for review in reviews %}
                    <li><a href="{% url 'change' review.id %}">{{ review.rating }} star review by {{ review.name }} made {{ review.date|naturaltime }}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
                <a class="btn btn-primary sc btn-rounded my-3" href="{% url 'add' %}">Write review</a>
            </div>
        </div>
    </div>  
</div>
{% endblock %}

