{% extends "base.html" %}
{% load static%}
{% load filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col col-md-8 m-md-4 box">
        <div class="row py-2 bg-primary text-white text-center">
            <div class="col">
                <h2>Checkout</h2>
            </div> 
        </div> 
        <div class="row mb-2 bg-secondary justify-content-md-center text-white">
            <div class="col col-md-7"><h3 class="m-0 py-2">Booking details</h3></div> 
        </div>
        
        {% for item in basket_items %}
        <form class="form" method="POST" action="{% url 'update_item' forloop.counter0 %}">
            {% csrf_token %}
            <div class="row justify-content-md-center">
                <div class="col-5 col-md-3"><strong>Type of items:</strong></div>
                <div class="col-7 col-md-4">{{item.product.name}}</div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-5 col-md-3"><strong>Arrival date:</strong></div>
                <div class="col-7 col-md-4">{{item.check_in}}, Check-in after 14:00</div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-5 col-md-3"><strong>Departure date:</strong></div>
                <div class="col-7 col-md-4">{{item.check_out}}, Check-out until 12:00</div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-5 col-md-3"><strong>Length of stay:</strong></div>
                <div class="col-7 col-md-4">{{item.days}} nights</div>
            </div>
            <div class="row justify-content-md-center pb-4">
                <div class="col-5 col-md-3"><strong>Quantity:</strong></div>
                <div class="col-7 col-md-4">{{ item.quantity }}</div>
            </div>
            {% if not forloop.last %}<hr class="text-secondary">{% endif %}
        </form>
        {% endfor %}

        <div class="row mb-2 justify-content-md-center bg-secondary text-white">
            <div class="col col-md-7"><h3 class="m-0 py-2">Price details</h3></div> 
        </div>
        {% for item in basket_items %}
            <div class="row justify-content-md-center">
                <div class="col-5 col-md-3"><strong>Cost of stay<br />
                    ({{item.days}} nights)</strong></div>
                <div class="col-7 col-md-4">
                    {% for i in item.quantity|times %}
                    <div class="row">
                        <div class="col"><span class="fst-italic">Pitch {{i}}</span><br />
                            {{item.product.name}}
                        </div>
                        <div class="col text-secondary text-end d-flex justify-content-end align-items-end">{{ item.product.price | multiply:item.days|floatformat:0 }} EUR
                        </div>
                    </div>
                    {% if forloop.last %}<hr class="text-secondary">
                    <div class="row justify-content-md-center">
                        <div class="col text-secondary text-end">{{ item.total|floatformat:0 }} EUR
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if not forloop.last %}<hr class="text-secondary">{% endif %}
        {% endfor %}
        <hr class="text-secondary">
        <div class="row justify-content-md-center">
            <div class="col-5 col-md-3"><strong>Taxes:</strong></div>
            <div class="col-7 col-md-4">
                <div class="row">
                    <div class="col">National taxes<br />
                        (12.00%)
                    </div>
                    <div class="col text-secondary text-end">included</div>
                </div>
             </div>  
        </div> 
        <div class="row my-4 justify-content-md-center">
            <div class="col col-md-7 highlight-border">
                <div class="row align-items-center">
                    <div class="col"><strong>Total cost including taxes:</strong></div>
                    <div class="col text-secondary text-end"><h3 class="m-0">{{ basket_grand_total|floatformat:0 }} EUR</h3></div>
                </div>
            </div>
        </div> 
        <div class="row my-2 justify-content-md-center bg-secondary text-white">
            <div class="col col-md-7"><h3 class="m-0 py-2">Payment details</h3></div> 
        </div>
        <div class="row my-4 justify-content-md-center">
            <div class="col col-md-7 text-center" id="loading-overlay">
                <h1 class="text-primary logo-font loading-spinner">
                    <span class="icon">
                        <i class="fas fa-6x fa-fan fa-spin"></i>
                    </span>
                </h1>
            </div>
        </div>
        <form action="{% url 'checkout' %}" method="POST" id="payment-form">
            {% csrf_token %}
            <div class="row my-4 justify-content-md-center">
                <div class="col col-md-7">    
                        <div class="row mb-3 d-flex">
                            {{ order_form.full_name | as_crispy_field }}
                            {{ order_form.email | as_crispy_field }}
                            {{ order_form.phone_number | as_crispy_field }}
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                            {% if user.is_authenticated %}
                                <label class="form-check-label" for="id-save-info">Save this information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                            {% else %}
                                <label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
                            {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12">
                                <p class="text-muted">Payment</p>
                            </div>
                            <div class="col-12">
                                <!-- A Stripe card element will go here -->
                                <div class="mb-3" id="card-element"></div>
                                <!-- Used to display form errors -->
                                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                                <!-- Pass the client secret to the view so we can get the payment intent id -->
                                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                            </div>
                            <div class="col-12">
                                <p class="small text-danger my-0">
                                    <span class="icon">
                                        <i class="fas fa-exclamation-circle"></i>
                                    </span>
                                    <span>Your card will be charged <strong>€{{ basket_grand_total|floatformat:2 }}</strong></span>
                                </p>
                            </div>
        
                        </div>
                
                </div>
            </div> 
            <div class="row my-4 justify-content-md-center ">
                <div class="col col-md-7 text-center">
                    <a href="{% url 'basket' %}" class="btn btn-primary sc">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Modify Basket</span>
                    </a>
                    <button id="submit-button" class="btn btn-primary sc">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form> 
    </div>
</div>
{% endblock %}

{% block extra_body_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}