{% extends "base.html" %}
{% load static%}
{% load filters %}

{% block page_header %}
{% endblock %}

{% block content %}
{% if basket_items %}
    <div class="row justify-content-md-center">
        <div class="col col-md-8 m-md-4 box">
            <div class="row py-2 bg-primary text-white text-center">
                <div class="col">
                    <h2>Basket</h2>
                </div> 
            </div> 
            <div class="row mb-2 bg-secondary justify-content-md-center text-white">
                <div class="col col-md-7"><h3 class="m-0 py-2">Booking details</h3></div> 
            </div>
            
            {% for item in basket_items %}
            <form class="form" method="POST" action="{% url 'update_item' forloop.counter0 %}">
                {% csrf_token %}
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-7 text-end"><a class="link-delete" href="{% url 'remove_product' forloop.counter0 %}"><i class="far fa-times-circle"></i> Remove item</a></div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-5 col-md-3"><strong>Type of items:</strong></div>
                    <div class="col-7 col-md-4">{{item.product.name}}</div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-5 col-md-3"><strong>Arrival date:</strong></div>
                    <div class="col-7 col-md-4">{{item.check_in}}, Check-in after 14:00</div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-5 col-md-3"><strong>Departure date:</strong></div>
                    <div class="col-7 col-md-4">{{item.check_out}}, Check-out until 12:00</div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-5 col-md-3"><strong>Length of stay:</strong></div>
                    <div class="col-7 col-md-4">{{item.days}} nights <i class="fas fa-edit date" id="date-{{forloop.counter0}}"></i></div>
                </div>
                <div class="row justify-content-md-center pb-4">
                    <div class="col-5 col-md-3"><strong>Quantity:</strong></div>
                    <div class="col-7 col-md-4">
                        <button class="btn btn-sm" name="remove" value="-" {% if item.quantity == 1 %}disabled{% endif %}>
                            <i class="fas fa-minus fa-sm"></i>
                        </button>
                        {{ item.quantity }}
                        <button class="btn btn-sm" name="add" value="+">
                            <i class="fas fa-plus fa-sm"></i>
                        </button></div>
                </div>
                {% if not forloop.last %}<hr class="text-secondary">{% endif %}
            </form>
            {% endfor %}

                    <div class="row my-2 justify-content-md-center bg-secondary text-white">
                        <div class="col col-md-7"><h3 class="m-0 py-2">Price details</h3></div> 
                    </div>
            {% for item in basket_items %}
                <div class="row justify-content-md-center">
                    <div class="col-5 col-md-3"><strong>Cost of stay<br />
                        ({{item.days}} nights)</strong></div>
                    <div class="col-7 col-md-4">
                        {% for i in item.quantity|times %}
                        <div class="row">
                            <div class="col"><span class="fst-italic">Pitch {{i}}</span><br />
                                {{item.product.name}}
                            </div>
                            <div class="col text-secondary text-end d-flex justify-content-end align-items-end">{{ item.product.price | multiply:item.days|floatformat:0 }} EUR
                            </div>
                        </div>
                        {% if forloop.last %}<hr class="text-secondary">
                        <div class="row justify-content-md-center">
                            <div class="col text-secondary text-end">{{ item.total|floatformat:0 }} EUR
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% if not forloop.last %}<hr class="text-secondary">{% endif %}
            {% endfor %}
            <hr class="text-secondary">
            <div class="row justify-content-md-center">
                <div class="col-5 col-md-3"><strong>Taxes:</strong></div>
                <div class="col-7 col-md-4">
                    <div class="row">
                        <div class="col">National taxes<br />
                            (12.00%)
                        </div>
                        <div class="col text-secondary text-end">included</div>
                    </div>
                </div>  
            </div> 
            <div class="row my-4 justify-content-md-center">
                <div class="col col-md-7 highlight-border">
                    <div class="row align-items-center">
                        <div class="col"><strong>Total cost including taxes:</strong></div>
                        <div class="col text-secondary text-end"><h3 class="m-0">{{ basket_grand_total|floatformat:0 }} EUR</h3></div>
                    </div>
                </div>
            </div> 
            <div class="row my-4 justify-content-md-center ">
                <div class="col col-md-7 text-center">
                    <a class="btn btn-primary sc rounded{% if basket_grand_total == 0 %} disabled{% endif%}" href="/checkout">Continue to Secure Checkout</a>
                </div>
            </div> 
        </div>  
    </div>
{% else %}

<div class="row justify-content-md-center">
    <div class="col col-md-8 m-md-4 box">
        <div class="row py-2 bg-primary text-white text-center">
            <div class="col">
                <h2>Basket</h2>
            </div> 
        </div> 
        <div class="row my-2 justify-content-md-center text-center">
            <div class="col-12"><h3>Basket is empty <i class="fas fa-campground"></i></h3></div> 
        </div>
    </div>  
</div>

{% endif %}

{% endblock %}

{% block extra_body_js %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            const minDate = new Date()
            const maxDate = `${(minDate.getFullYear()+1)}-${(minDate.getMonth() + 1 )}-${minDate.getDate()}`
            $('.date').daterangepicker({
              opens: 'left',
              buttonClasses: 'cs btn',
              applyButtonClasses: 'btn-light',
              cancelButtonClasses: 'btn-light',
              minDate: minDate,
              maxDate: maxDate, 
              maxYear: minDate.getFullYear()+1,
            });
    
            function setDates(ev, {startDate, endDate}){ 
                const basket_index = ev.currentTarget.id.split("-")[1]
                const csrfToken = "{{ csrf_token }}";
                const data = {'csrfmiddlewaretoken': csrfToken, 'basket_index': basket_index,'check_in': startDate.format('YYYY-MM-DD'), 'check_out': endDate.format('YYYY-MM-DD')};
                const url = `{% url 'set_travel_info' %}`;
                $.post(url, data)
                .done(function() {
                    location.reload();
                });
            }
    
            $('.date').on('apply.daterangepicker', setDates);
          });
    </script>
{% endblock %}