:root {
  --bs-primary: #d82b68 !important;
  --bs-primary-active: #aa184b !important;
  --bs-secondary: #0079b2 !important;
  --bs-success: #00af7b !important;
  --bs-info: #25b76b !important;
  --bs-warning: #d5d400 !important;
  --bs-danger: #e34400 !important;
  --bs-light: #fffeec !important;
  --bs-dark: #2d2e30 !important;
  --bs-primary-rgb: 216, 43, 104 !important;
  --bs-secondary-rgb: 0, 121, 178 !important;
  --bs-success-rgb: 0, 175, 123 !important;
  --bs-info-rgb: 37, 183, 107 !important;
  --bs-warning-rgb: 213, 212, 0 !important;
  --bs-danger-rgb: 227, 68, 0 !important;
  --bs-light-rgb: 255, 254, 236 !important;
  --bs-dark-rgb: 45, 46, 48 !important;
}

html {
  height: 100%;
}

body {
  font-family: "Assistant", sans-serif;
  margin-top: 116px;
}

/* ---------------------------- General styling */
.box {
  background-color: white;
  border: 1px solid #d82b68;
  border-radius: 1em;
  min-width: 50%;
}

img.image-thumbnail,
svg.image-thumbnail {
  object-fit: cover;
  height: 100px;
  width: 100px;
  border-radius: 4px;
}

.sc-table p {
  margin-bottom: 0;
}
.sc-row {
  border-bottom: 1px solid #d82b68;
}

tbody .sc-row:last-child {
  border-bottom: 0;
}

/* ---------------------------- Navbar */

section {
  /* screen height - footer height - navbar height */
  min-height: calc(100vh - 312px - 116px);
}

@media (max-width: 991px) {
  .navbar-brand img {
    width: 250px;
  }
  body {
    margin-top: 95px;
  }
  section {
    /* screen height - footer height - navbar height */
    min-height: calc(100vh - 168px - 95px);
  }
}

@media (max-width: 776px) {
  section {
    /* screen height - footer height - navbar height */
    min-height: calc(100vh - 72px - 95px);
  }
}

.header-caption {
  font-family: "PT Sans Caption", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

.btn-rounded {
  border-radius: 2rem;
}

.daterangepicker {
  color: inherit;
  background-color: #d82b68;
  border-radius: 4px;
  border: none;
  top: 119px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #d82b68;
  color: #fff;
}

.daterangepicker .drp-selected {
  color: #fff;
}

.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #d82b68;
  border-left: 6px solid transparent;
}

.daterangepicker.opensleft:before {
  right: 61px;
}

.daterangepicker.opensleft:after {
  right: 63px;
}
/* ---------------------------- Override bootstrap colours */
/* ---------------------------- Buttons */
.sc.btn-primary {
  color: #fff;
  background-color: #d82b68;
  border-color: #d82b68;
}
.sc.btn-primary:hover {
  color: #fff;
  background-color: #aa184b;
  border-color: #aa184b;
}

.sc.btn-primary:focus {
  box-shadow: none;
}

/* ---------------------------- Alerts */
.alert-success {
  color: white;
  background-color: #00af7b;
  border-color: #2c9375;
}

/* ---------------------------- Search bar */
.search {
  background-color: white;
  border-radius: 2rem;
  padding: 0 20px 0 5px;
  height: 30px;
  margin-bottom: 10px;
}
.search i {
  color: rgba(0, 0, 0, 0.5);
  margin: auto 5px;
}

input[type="search" i] {
  appearance: auto;
  box-sizing: border-box;
  border: none;
  padding: 1px 2px;
}

input[type="search" i]:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0;
}

.availability-box {
  color: #fff;
  background-color: #d82b68;
}

.availability-box p {
  margin-bottom: 0;
}

/* ---------------------------- Product */

#products .card {
  background-color: var(--bs-secondary);
  color: white;
}

#products .sc.btn-primary {
  border: 1px white solid;
}

.card img {
  width: auto;
  height: 100%;
  max-height: 300px;
  object-fit: scale-down;
}

.query-format strong {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .card img {
    max-height: 500px;
  }

  #products .card:nth-child(odd) .product-image {
    order: 0;
  }

  #products .card:nth-child(even) .product-image {
    order: 1;
  }

  #products .card:nth-child(odd) .product-content {
    order: 1;
  }

  #products .card:nth-child(even) .product-content {
    order: 0;
  }
}
/* ---------------------------- Footer */
footer i {
  font-size: 13em;
}

@media (max-width: 991px) {
  footer i {
    font-size: 7em;
  }
}

@media (max-width: 776px) {
  footer i {
    font-size: 3em;
  }
}

.footer-link {
  color: rgba(255, 255, 255, 0.1);
}

.footer-link:hover {
  color: rgba(255, 255, 255, 0.3);
}

/* ---------------------------- Allauth */
.allauth-content p {
  color: rgba(0, 0, 0, 0.5);
}

.allauth-content .form-group {
  margin-top: 10px;
}
.allauth-content [type="submit"] {
  margin-top: 10px;
  margin-bottom: 10px;
}

.allauth-content label {
  color: #2d2e30;
  font-weight: 600;
}
.allauth-content .form-group {
  margin-top: 10px;
}

/* ---------------------------- Messages */
.message-container .alert {
  display: inline-block;
  padding: 2px;
  margin: 10px;
}

.message-container .btn-alert {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 0.3em;
  font-size: 0.75em;
  color: inherit;
}
