.card {
  background-color: var(--bs-secondary);
  color: white;
}

.card img {
  width: auto;
  height: 100%;
  max-height: 300px;
  object-fit: scale-down;
}

.query-format strong {
  background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .card img {
    max-height: 500px;
  }

  #products .card:nth-child(odd) .product-image {
    order: 0;
  }

  #products .card:nth-child(even) .product-image {
    order: 1;
  }

  #products .card:nth-child(odd) .product-content {
    order: 1;
  }

  #products .card:nth-child(even) .product-content {
    order: 0;
  }
}
