{% extends "base.html" %}
{% load static%}

{% block extra_css %}
<style type="text/css">

  
</style>
<style>
    #pop{
        display              : none;
        position             : absolute;
        z-index              : 99999;
        padding              : 10px;
        background           : white;
        border               : 1px solid black;
        border-radius        : 20px;
        margin               : 0px;
        -webkit-box-shadow   : 0px 0px 5px 0px rgba(164, 164, 164, 1);
        box-shadow           : 0px 0px 5px 0px rgba(164, 164, 164, 1);
    }
    .st0{display:none;}
	.st1{fill:#72BC7C;}
	.st2{fill:none;stroke:#000000;stroke-width:9;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#FFFFFF;stroke-width:6;stroke-miterlimit:10;}
	.st4{fill:#535352;}
	.st5{fill:#FFFFFF;}
	.st6{font-family:'Impact';}
	.st7{font-size:6.9231px;}
	.st8{font-size:6.877px;}
	.st9{font-size:7.2946px;}
    .pitch-seasonal{fill: red;}
    .pitch-camping{fill: purple;}
    .pitch-camping-tent{fill: blue;}
    
</style>

{% endblock %}

{% block page_header %}
    <div class="row justify-content-md-center mx-1">
        <div class="col my-4 text-center">
            <h1>Map</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center mx-1">
            <div class="col-12 col-lg-10 my-4 box">
               {% include 'includes/interactive-map.svg' %}
            </div>
    </div>
    <div id="pop">
        <p>I am a popup!</p>
      </div>
{% endblock %}

{% block extra_body_js %}
    {{ block.super }}
    <script>
        $(document).mousemove(function(e) {
            window.x = e.pageX;
            window.y = e.pageY;
        });
        
        $(document).ready(function () {
            // Create interactive map
            const pitches = [{% for x in pitches %}{
                id: `p-{{ x }}`,
                name: '{{ x }}', 
                electric: {{ x.electric |yesno:"true,false" }}, 
                plug: {{ x.plug |yesno:"true,false" }}, 
                graywaste: {{ x.graywaste |yesno:"true,false" }},
                fullwaste: {{ x.fullwaste |yesno:"true,false" }},
                water: {{ x.water |yesno:"true,false" }},
                tent: {{ x.tent |yesno:"true,false" }},
                seasonal: {{ x.seasonal |yesno:"true,false" }},
            },{% endfor %}]

            pitches.forEach((item,idx)=> {

                let color = "pitch-camping"; // Gray unkown state
                if (item.seasonal) color = "pitch-seasonal"
                if (item.tent) color = "pitch-camping-tent"



                $(`#${item.id} text`).text(`${item.name}`);
                $(`#${item.id} text`).attr('x', `${[4,2,0][item.name.length-1]}`); // Center text hack
                $(`#${item.id} .st4`).addClass(`${color}`)
                $(`#${item.id}`).addClass('popover')
            });

            $('.popover').mouseenter(function(e) {
                const pitch = pitches.find(i => i.id === e.currentTarget.id);
                const params = [pitch.electric]
                $("#pop").html(`
                <p>Pitch name: <strong>${pitch.name}</strong></p>
                ${pitch.seasonal ? "<p>is a seasonal pitch</p>" : ""}
                ${pitch.tent ? "<p>is a tent pitch</p>" : ""}
                ${pitch.electric ? "<p>has power</p>" : ""}
                ${pitch.greywater ? "<p>has greywater</p>" : ""}
                `);
                $("#pop").css("top", y);
                $("#pop").css("left", x);
                $('#pop').fadeIn('fast');
            });

            $('.popover').mouseleave(function(e) {
                $('#pop').fadeOut('fast');
            });
        });
    </script>
{% endblock %}