{% extends "base.html" %}
{% load static%}

{% block extra_css %}
{{ block.super }}
<style type="text/css">
    #pop{
        display              : none;
        position             : absolute;
        z-index              : 99999;
        padding              : 10px;
        background           : white;
        border               : 1px solid black;
        border-radius        : 20px;
        margin               : 0px;
        -webkit-box-shadow   : 0px 0px 5px 0px rgba(164, 164, 164, 1);
        box-shadow           : 0px 0px 5px 0px rgba(164, 164, 164, 1);
    }
    .st0{display:none;}
	.st1{fill:#72BC7C;}
	.st2{fill:none;stroke:#000000;stroke-width:9;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#FFFFFF;stroke-width:6;stroke-miterlimit:10;}
	.st4{fill:#535352;}
	.st5{fill:#FFFFFF;}
	.st6{font-family:'Impact';}
	.st7{font-size:6.9231px;}
	.st8{font-size:6.877px;}
	.st9{font-size:7.2946px;}
    .pitch-seasonal{fill: red;}
    .pitch-camping{fill: purple;}
    .pitch-camping-tent{fill: blue;}
    
    .selected {
        stroke: white;
        stroke-width: 1px;
        stroke-linejoin: round;
      }

    /* Fix pointer-events in buttons */
    /* https://css-tricks.com/slightly-careful-sub-elements-clickable-things/ */
    button > * {
        pointer-events: none;
      }
    .popover{
        cursor: pointer; 
    }
</style>
{% endblock %}

{% block content %}
    <div class="row justify-content-md-center"> 
        <div class="col col-md-8 m-md-4 box">
            <div class="row py-2 bg-primary text-white text-center">
                <div class="col">
                    <h2>Square Circles Holiday Park</h2>
                </div> 
            </div> 
            <div class="row mb-2 bg-secondary justify-content-md-center text-white text-center">
                <div class="col"><h3 class="m-0 py-2">Interactive Map</h3></div> 
            </div>
            <div class="row mb-0 bg-white justify-content-md-center text-center">
                <div class="col">
                    <button class="btn cb-electric" id='cb-electric' name="electric"><i class="far fa-square"></i> Electric</button>
                    <button class="btn cb-water" id='cb-water' name="water"><i class="far fa-square"></i> Water</button>
                    <button class="btn cb-seasonal" id='cb-seasonal' name="seasonal"><i class="far fa-square"></i> Seasonal</button>
                    <button class="btn cb-tent" id='cb-tent' name="tent"><i class="far fa-square"></i> Tent</button>
                </div> 
            </div>
            <div class="row mb-0 bg-white text-dark">
                <div class="col text-center"><strong><span id="hits"></span></strong></div> 
            </div>
            <div class="row mb-2 bg-white justify-content-md-center text-white">
                <div class="col">{% include 'includes/interactive-map.svg' %}</div> 
            </div>
        </div>
    </div>
    <div id="pop">
        <p>I am a popup!</p>
      </div>
{% endblock %}

{% block extra_body_js %}
    {{ block.super }}
    <script>
        $(document).mousemove(function(e) {
            window.x = e.pageX;
            window.y = e.pageY;
        });
        
        $(document).ready(function () {
            // Create interactive map
            const pitches = [{% for x in pitches %}{
                id: `p-{{ x }}`,
                name: '{{ x }}',
                product: '{{ x.product.name }}', 
                electric: {{ x.electric |yesno:"true,false" }}, 
                plug: {{ x.plug |yesno:"true,false" }}, 
                graywaste: {{ x.graywaste |yesno:"true,false" }},
                fullwaste: {{ x.fullwaste |yesno:"true,false" }},
                water: {{ x.water |yesno:"true,false" }},
                tent: {{ x.tent |yesno:"true,false" }},
                seasonal: {{ x.seasonal |yesno:"true,false" }},
            },{% endfor %}]

            pitches.forEach((item,idx)=> {

                let color = "pitch-camping"; // Gray unkown state
                if (item.seasonal) color = "pitch-seasonal"
                if (item.tent) color = "pitch-camping-tent"

                const shape = `product-${encodeURIComponent(item.product).toLowerCase().replace(/\.|%[0-9a-z]{2}/gi, '')}`;

                $(`#${item.id} text`).text(`${item.name}`);
                $(`#${item.id} .st4`).addClass(`${color}`)
                $(`#${item.id}`).addClass('popover')
            });

            $('.popover').mouseenter(function(e) {
                const pitch = pitches.find(i => i.id === e.currentTarget.id);
                const params = [pitch.electric]
                $("#pop").html(`
                <p>Pitch name: <strong>${pitch.name}</strong></p>
                <p>${pitch.product}</p>
                ${pitch.tent ? "<p>is a tent pitch</p>" : ""}
                ${pitch.electric ? "<p>has power</p>" : ""}
                ${pitch.greywater ? "<p>has greywater</p>" : ""}
                `);
                $("#pop").css("top", y);
                $("#pop").css("left", x);
                $('#pop').fadeIn(0);
            });

            $('.popover').mouseleave(function(e) {
                $('#pop').fadeOut(0);
            });


            // Checkboxes
            state = {
                'electric': false,
                'water': false,
                'seasonal': false,
                'tent': false
            }
            $("#hits").text(`None selected`)

            const renderMap = () => {
                let intersection = !state.electric && !state.tent && !state.water && !state.seasonal ? [] : [...pitches];
                if (state.electric) {
                    const electric = [...pitches].filter(x => x.electric)
                    intersection = intersection.filter(x => electric.includes(x))
                };
                if (state.tent) {
                    const tent = [...pitches].filter(x => x.tent)
                    intersection = intersection.filter(x => tent.includes(x))
                };
                if (state.water) {
                    const water = [...pitches].filter(x => x.water)
                    intersection = intersection.filter(x => water.includes(x))
                };
                if (state.seasonal) {
                    const seasonal = [...pitches].filter(x => x.seasonal)
                    intersection = intersection.filter(x => seasonal.includes(x))
                };
                if ($('.st4').hasClass('selected')) $('.st4').removeClass('selected');
                $("#hits").text(`${intersection.length > 0 ? intersection.length : "None" } selected`)
                intersection.forEach(pitch => $(`#${pitch.id} .st4`).addClass('selected'))
            }
            const stateHandler = (e => {
                    const param = e.target.name;
                    const target = e.target;
                    const elem = $(target).find('i');
                    state = { ...state, [param]: !state[param] };
                    if (elem.hasClass('fa-square')) elem.removeClass('fa-square');
                    if (elem.hasClass('fa-check-square')) elem.removeClass('fa-check-square');
                    elem.addClass(state[param] ? 'fa-check-square' : 'fa-square')
                    renderMap();
            })

           $('button.cb-electric').click(stateHandler)
           $('button.cb-water').click(stateHandler)
           $('button.cb-seasonal').click(stateHandler)
           $('button.cb-tent').click(stateHandler)
        });
    </script>
{% endblock %}