<div class="row bg-dark">
    <div class="col-3 col-md-4 text-center"><a class="footer-link" href="https://www.instagram.com/" target="_blank"><i class="icon-instagram"></i></a></div>
    <div class="col-3 col-md-4 text-center"><a class="footer-link" href="https://www.tripadvisor.com/" target="_blank"><i class="icon-tripadvisor"></i></a></div>
    <div class="col-3 col-md-4 text-center"><a class="footer-link" href="https://www.facebook.com/" target="_blank"><i class="icon-facebook-squared"></i></a></div>
</div>