<nav class="navbar navbar-expand-lg navbar-dark bg-dark  align-items-end">
    <a class="navbar-brand ms-3" href="/">
        <img src="{{ MEDIA_URL }}logo.png" alt="square circles holiday park">
    </a>
    <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-end" id="navbarCollapse">
            <div class="flex-column flex-fill">
                <form class="d-flex justify-content-center" method="GET" action="{% url 'products' %}">
                    <div class="d-flex search">
                    <i class="fas fa-search"></i>
                    <input class="search_input" name="q" type="search" placeholder="Search" aria-label="Search" value="{{ query }}">
                    </div>
                </form>
                <ul class="navbar-nav flex-lg-row justify-content-center align-items-center text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link" href="/">The Park</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?c=caravan%20pitches,tent%20pitches,motorhome%20parking">Camping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?c=hostel,cabins">Cabin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?c=activities">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'products' %}?c=season%20pitches">Season</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pitches' %}">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reviews' %}">Reviews</a>
                    </li>
                </ul>
            </div>
            <div class="text-center px-3">
                <hr class="d-block d-lg-none text-white">
                <ul class="navbar-nav flex-lg-row align-items-center justify-content-center">

                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link py-1 pb-3" href="{% url 'profile' %}"><i class="far fa-user"></i> <u>My page</u></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1 pb-3" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i> <u>Sign out</u></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link py-1 pb-3" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i> <u>Sign in</u></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1 pb-3" href="{% url 'account_signup' %}"><i class="fas fa-user-plus"></i> <u>Sign up</u></a>
                    </li>
                    {% endif %}
                    
                </ul>
                <ul class="navbar-nav flex-md-row align-items-center justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link py-1 pb-3" href="{% url 'basket' %}"><i class="fas fa-shopping-basket position-relative mx-2">{% if basket_items %}<span class="position-absolute top-0 start-100 translate-middle p-1 bg-primary border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                          </span>{% endif %}</i> <u>Basket</u></a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
