<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/media/logo.png" alt="square circles holiday park">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse align-items-center" id="navbarCollapse">
            <div class="flex-column flex-fill">
                <form class="d-flex justify-content-center">
                    <div class="d-flex search">
                    <i class="fas fa-search"></i>
                    <input class="" type="search" placeholder="Search" aria-label="Search">
                    </div>
                </form>
                <ul class="navbar-nav flex-md-row justify-content-center align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">The Park</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Camping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cabin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Activities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <ul class="navbar-nav flex-md-row align-items-center justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link py-1 pr-3" href="#">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link py-1 pr-3" href="#">Sign up</a>
                    </li>
                </ul>
                <button class="btn sc btn-primary btn-rounded " type="submit">Check availability</button>
            </div>
        </div>
    <!--
    <div class="container-fluid">
    <div class="row">
        <div class="col">
           
        </div>
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="row">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">The Park</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Camping</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Cabin</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Activities</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Map</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Reviews</a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="col">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div> 
    -->
</nav>